* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

.Header {
    color: white;
    background-color: #1f2937;
}

.Headertop {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;

}

.headerbody {
    display: flex;
    margin: 100px;
    justify-content: space-between;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.titlesub {
    font-size: 18px;
    color: #e5e7eb;
}

.hbright {
    max-height: max-content;
}

img {
    max-height: 200px;
}

.hbleft {
    margin-right: 100px;
}

button {
    color: white;
    background-color: #3882f6;
    border: 5px round #3882f6;
    padding: 5px;
}